# COMP 352 Final Project - Blackjack

**Authors:** Joe Cox, Augusto Escudero, Hreinson Vanover

**Date:** 12/15/2024

## Table of Contents:
* [Data Importing and Pre-processing](#data-importing)
* [Data Analysis and Visualization](#data-vis)
* [Data Analytics](#data-analytics)

## Data Importing and Pre-processing <a class="anchor" id="data-importing"></a>

In [34]:
# Import needed libraries
import pandas as pd
from pandas import DataFrame

import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [13]:
# Read in csv file
# Using local file instead of uploading to repository
# Size is 3.63GB

# Import dataset into Pandas DataFrame
blackjack_df = pd.read_csv("blackjack_simulator.csv")

In [31]:
# Describing characteristics

print("Dataset shape (rows, columns): ", blackjack_df.shape)

numerical_columns = blackjack_df.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = blackjack_df.select_dtypes(include=['object', 'category']).columns

print('\nColumn types:')
print('---'*3)
print('Number of numerical variables: ', len(numerical_columns))
print('Number of numerical variables: ', len(categorical_columns))

print("Data types: ")
print("---"*3)
print(blackjack_df.dtypes)

Dataset shape (rows, columns):  (50000000, 12)

Column types:
---------
Number of numerical variables:  6
Number of numerical variables:  6
Data types:
---------
shoe_id               float64
cards_remaining       float64
dealer_up             float64
initial_hand           object
dealer_final           object
dealer_final_value     object
player_final           object
player_final_value     object
actions_taken          object
run_count             float64
true_count            float64
win                   float64
dtype: object

In [32]:
# Check column names
blackjack_df.columns

Index(['shoe_id', 'cards_remaining', 'dealer_up', 'initial_hand',
       'dealer_final', 'dealer_final_value', 'player_final',
       'player_final_value', 'actions_taken', 'run_count', 'true_count',
       'win'],
      dtype='object')

In [26]:
blackjack_df.head()

   shoe_id  cards_remaining  dealer_up  ... run_count true_count      win
0      0.0         1.000000   0.888889  ...  0.510638        0.5  0.59375
1      0.0         0.985163   0.888889  ...  0.478723        0.5  0.56250
2      0.0         0.970326   0.444444  ...  0.478723        0.5  0.56250
3      0.0         0.955490   0.888889  ...  0.489362        0.5  0.50000
4      0.0         0.937685   0.666667  ...  0.489362        0.5  0.43750

[5 rows x 12 columns]

In [ ]:
# Handle missing values
# NOTE: there are no missing values in the data

# total = blackjack_df.isnull().sum().sort_values(ascending=False)
# percent = (blackjack_df.isnull().sum() / blackjack_df.isnull().count()).sort_values(
#     ascending=False
# )

# missing_data = pd.concat([total, percent], axis=1, keys=["Total", "Percent"])
# missing_data.head(20)

                    Total  Percent
shoe_id                 0      0.0
cards_remaining         0      0.0
dealer_up               0      0.0
initial_hand            0      0.0
dealer_final            0      0.0
dealer_final_value      0      0.0
player_final            0      0.0
player_final_value      0      0.0
actions_taken           0      0.0
run_count               0      0.0
true_count              0      0.0
win                     0      0.0

## Data Analysis and Visualization <a class="anchor" id="data-vis"></a>

## Data Analytics <a class="anchor" id="data-analytics"></a>